<div class="aboutBackground">
    <div class = "wrapper">
        <div class="content">
            <h2>Balls are fun!</h2>

            <p>
                Hi, I'm Paul, and I think that balls are the best one of life's great wonders. They are magical spheres that are appreciated by people of all ages. <br/>
                Since I support balls and individualism I wanted to bring a place into the world where people could find balls of their own. <br/>
                If you want balls with a unique style you've come to the right place! I've got big and small, balls for all! <br/>
                So what are you waiting for!? Take a look at some <a href="/products">balls!</a>
            </p>
        </div>
    </div>
</div>