<div class = "contactBackground">
    <div class = "wrapper">
        <div class="content">
            <h2>Contact information:</h2>
                <p>
                    Mail: iLoveBalls@gmail.balls <br/>
                    Phone: 0010-84115
                </p>
        </div>
    </div>
</div>